@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
:root {
    /* primary */
    --blue950: hsl(256, 26%, 20%);
    --blue500: hsl(216, 30%, 68%);

    /* neutral */
    --gray950: hsl(270, 9%, 17%);
    --gray700: hsl(273, 4%, 51%);
    --gray50: hsl(0, 0%, 98%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* navigation bar */

.navbar {
    background-color: var(--gray50);
    display: flex;
    width: 100%;
    height: 60px;
    margin: auto;
    padding: 0 90px 0 90px;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2;
}

.nav-links {
    display: inline;
    margin:0;
}

ul a {
    font-family: "Karla", sans-serif;
    color: var(--gray700);
    text-transform: uppercase;
    font-size: 12px;
    padding: 10px;
}

ul a:last-child {
    color: var(--gray950);
    border: solid 2px var(--gray950);
    padding: 8px 24px;
}

/* main content */

.main-content {
    width: 100%;

}

.upper-right {
    background-image: url(images\bg-pattern-intro-right-desktop.svg);
    position:absolute;
    right: 0;
    top: -50px;
    width: 20%;
    z-index: 1;
}

.middle-left {
    background-image: url(images\bg-pattern-intro-left-desktop.svg);
    position:absolute;
    left: 0;
    top: 420px;
    width:8%;
    z-index: 1;
}

.first-content {
    background-color: var(--blue950);
    color: var(--gray50);
    display:flex;
    position: relative;
    width: 100%;
    height: 500px;
    justify-content: space-between;
    margin: 0;
    padding: 30px;
}

.first-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0;
    padding: 30px 0 30px 60px;
    width: 50%;
    z-index: 2;
}


.line {
    width: 140px;
    color: var(--gray50);
    border: solid 1px;
}

span, button {
    font-family: "Karla", sans-serif;
    font-size: 16px;
}

button {
    background-color: var(--blue950);
    color: var(--gray50);
    border: solid 2px var(--gray50);
    width: 150px;
    padding: 8px 28px;
    font-family: "Karla", sans-serif;
    text-transform: uppercase; /*combine all selectors with same font*/
}

.image-intro {
    position: absolute;
    float: right;
    overflow: visible;
    width: 35%;
    min-width:460px;
    max-width:520px;
    height: auto;
    object-fit: cover;
    top: 40px;
    right: 30px;
    padding: 30px 60px 0 0;
}

/* second content */

.header {
    font-family: "DM Serif Display", sans-serif;
    font-weight: 400;
}

.second-content{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 60px 30px 150px 90px;
}
.line2 {
    width: 140px;
    color: var(--blue950);
    border-bottom: solid 1px;
    padding: 60px 0 ;
}

.second-content-header {
    padding-top: 90px;
    font-size: 64px;
    line-height: 0.8;
    color: var(--blue950);
}

.about {
    display: flex;
    flex-direction: row;
}

.logos {
    min-width: 12%;
    height: auto;
    padding: 30px 30px 30px 0;
}

.titles {
    font-family: "DM Serif Display", sans-serif;
    font-weight: 400;
    font-size: 32px;
    color: var(--blue950);
}

.infos {
    display: inline-block;
    font-weight: 400;
    padding: 30px 60px 120px 0;
    color: var(--blue950);
}


/* second content w/ button */

.second-container-button {
    padding-right: 60px;
}

.how-we-work {
    padding: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 180px;
    background-color: var(--blue950);
}

.how-we-work span {
    color:var(--gray50);
    font-family: "DM Serif Display", sans-serif;
    font-weight: 400;
    font-size: 48px;
    text-wrap: wrap;
    width: 50%;
    line-height: 1;
}

.how-we-work button {
    background-color: var(--blue950);
    color: var(--gray50);
    border: solid 2px var(--gray50);
    width: 180px;
    padding: 8px 28px;
    font-family: "Karla", sans-serif;
    text-transform: uppercase;
}

.lower-right {
    position:absolute;
    background-image: url(images\bg-pattern-how-we-work-desktop.svg);
    right: 90px;
    width:25%;
    height:180px;
}

/* third content including social link imgs then footer*/

.footer-logo {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.insure-social-links {
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--gray50);
}

.insure-logo-bottom, .social-links {
    padding: 90px 90px 30px 90px;
    z-index: 2;
}

.social-links img {
    margin: 5px;
}

.border-design {
    width: 88%;
    color: var(--blue950);
    border-top: solid 1px;
    /* background-color: var(--gray50); */
}

/* -- */

.lower-left {
    position: absolute;
    background-image: url(images\bg-pattern-footer-desktop.svg);
    left: 0;
    top: 0;
    width: 35%;
    height:auto;
    z-index: 1;
}

.about-details {
    display: flex;
    flex-direction: row;
    background-color: var(--gray50);
    width: 100%;
    height: auto;
    padding: 0 90px 30px 90px;
    justify-content:flex-start;
    gap: 240px;
}


.about-links span, 
.faq-links span, 
.contact-links span, 
.others-links span {
    padding: 40px 0;
    display: inline-block;
    font-family: "Karla", sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: var(--gray700);
    text-transform: uppercase;
}

.about-details div {
    z-index: 2; /* design pattern behind text */
}

.about-links a, 
.faq-links a, 
.contact-links a, 
.others-links a {
    display:block;
    padding-bottom: 10px;
    font-family: "Karla", sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    color: var(--gray950);
}
